.h1 {
  font-size: 40px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 20px;
  line-height: 30px;
}

.h6 {
  font-size: 16px;
  line-height: 24px;
}

.sub1 {
  font-size: 14px;
}

.sub2 {
  font-size: 12px;
}

.body {
  font-size: 10px;
}

.text-white {
  color: white;
}

.text-custom {
  color: #121f3e;
}

.bg-dark-custom {
  background: #141414;
}

.bg-white-custom {
  background: #f5f8fa;
}

.card-dark-custom {
  background: #0d0d0d;
}

.text-right {
  text-align: right;
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
