.h1 {
  font-size: 40px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 20px;
  line-height: 30px;
}

.h6 {
  font-size: 16px;
  line-height: 24px;
}

.sub1 {
  font-size: 14px;
}

.sub2 {
  font-size: 12px;
}

.body {
  font-size: 10px;
}

.text-white {
  color: white;
}

.text-custom {
  color: #121f3e;
}

.bg-dark-custom {
  background: #141414;
}

.bg-white-custom {
  background: #f5f8fa;
}

.card-dark-custom {
  background: #0d0d0d;
}

.text-right {
  text-align: right;
}
